<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'sSBodies')}">

<body>

<h2>Find small space bodies</h2>

<form th:object="${sSBody}" th:action="@{/small_space_bodies}" method="get" class="form-horizontal"
      id="search-owner-form">
    <div class="form-group">
        <div class="control-group" id="lastNameGroup">
            <label class="col-sm-2 control-label">Name </label>
            <div class="col-sm-10">
                <input class="form-control" th:field="*{Name}" size="30" maxlength="80"/>
                <span class="help-inline">
            <div th:if="${#fields.hasAnyErrors()}">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div>
          </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Find small space body</button>
        </div>
    </div>

</form>

<br/>
<a class="btn btn-default" th:href="@{/small_space_bodies/new}">Add small space body</a>

</body>
</html>
