<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'planets')}">
<head>
    <meta charset="UTF-8">
    <title>Probes</title>
</head>
<body>
<h2 th:text="#{list_of_small_space_bodies}">Index page</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mass</th>
        <th>Diameter</th>
        <th>System</th>
        <th>Speed</th>
        <th>Type</th>
        <th>Chemical composition</th>

    </tr>
    <tr th:each="bodie : ${smallSpaceBodies}">
        <td th:text="${bodie.id}" style="width: 100px">123</td>
        <td th:text="${bodie.name}" style="width: 100px">Default name</td>
        <td th:text="${bodie.mass}" style="width: 100px">1000</td>
        <td th:text="${bodie.diameter}" style="width: 100px">3400</td>
        <td th:text="${bodie.system.name}" style="width: 100px">Default system</td>
        <td th:text="${bodie.speed}" style="width: 100px">1000</td>
        <td th:text="${bodie.type}" style="width: 100px">-1000</td>
        <td th:text="${bodie.chemicalComposition}" style="width: 100px">24</td>
    </tr>
</table>
</body>
</html>