<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'sSBody')}">

<body>


<h2>Small Space Body Information</h2>


<table class="table table-striped" th:object="${sSBody}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Mass</th>
        <td th:text="*{mass}"/>
        </td>
    </tr>
    <tr>
        <th>Diameter</th>
        <td th:text="*{diameter}"/>
        </td>
    </tr>
    <tr>
        <th>System</th>
        <td th:text="*{system.name}"/>
        </td>
    </tr>
    <tr>
        <th>Speed</th>
        <td th:text="*{speed}"/>
        </td>
    </tr>
    <tr>
        <th>Type</th>
        <td th:text="*{type}"/>
        </td>
    </tr>
    <tr>
        <th>Chemical composition</th>
        <td th:text="*{chemicalComposition}"/>
        </td>
    </tr>

</table>

<a th:href="@{{id}/edit(id=${sSBody.id})}" class="btn btn-default">Edit Small Space Body</a>

</body>

</html>
