<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'planets')}">
<head>
    <meta charset="UTF-8">
    <title>Probes</title>
</head>
<body>
<h2 th:text="#{list_of_probes}">Index page</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Size</th>
        <th>Class of equipment</th>
        <th>Current location</th>
        <th>Last contact</th>

    </tr>
    <tr th:each="probe : ${probes}">
        <td th:text="${probe.id}" style="width: 100px">123</td>
        <td th:text="${probe.name}" style="width: 100px">Default name</td>
        <td th:text="${probe.size}" style="width: 100px">Default type</td>
        <td th:text="${probe.classOfEquipment}" style="width: 100px">0</td>
        <td th:text="${probe.currentLocation}" style="width: 100px">Default galaxy</td>
        <td th:text="${probe.lastContact}" style="width: 100px">1000</td>
    </tr>
</table>
</body>
</html>