<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'probe')}">

<body>


<h2>Probe Information</h2>


<table class="table table-striped" th:object="${probe}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Size</th>
        <td th:text="*{size}"/>
        </td>
    </tr>
    <tr>
        <th>Class of equipment</th>
        <td th:text="*{classOfEquipment}"/>
        </td>
    </tr>
    <tr>
        <th>Current location</th>
        <td th:text="*{currentLocation}"/>
        </td>
    </tr>
    <tr>
        <th>Last contact</th>
        <td th:text="*{lastContact}"/>
        </td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${probe.id})}" class="btn btn-default">Edit Probe</a>

<br/>
<br/>
<br/>
<h2>Probe equipment</h2>

<table class="table table-striped">

    <tr th:each="detail : ${probe.equipment}">
        <td valign="top">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd th:text="${detail.name}"/>
                </dd>
                <dt>Class</dt>
                <dd th:text="${detail.classType}"/>
                </dd>
            </dl>
    </tr>

</table>

</body>

</html>
