<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'stars')}">
<head>
    <meta charset="UTF-8">
    <title>Stars</title>
</head>
<body>
<h2 th:text="#{list_of_stars}">Index page</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mass</th>
        <th>Diameter</th>
        <th>System</th>
        <th>Spectral class</th>
        <th>Color</th>
        <th>Temperature</th>
        <th>Spectrum features</th>
        <th>Constellation</th>
    </tr>
    <tr th:each="star : ${stars}">
        <td th:text="${star.id}" style="width: 100px">123</td>
        <td th:text="${star.name}" style="width: 100px">Default name</td>
        <td th:text="${star.mass}" style="width: 100px">1000</td>
        <td th:text="${star.diameter}" style="width: 100px">3400</td>
        <td th:text="${star.system.name}" style="width: 100px">Default system</td>
        <td th:text="${star.spectralClass}" style="width: 100px">1000</td>
        <td th:text="${star.color}" style="width: 100px">-1000</td>
        <td th:text="${star.temperature}" style="width: 100px">24</td>
        <td th:text="${star.spectrumFeatures}" style="width: 100px">1243563</td>
        <td th:text="${star.constellation}" style="width: 100px">123</td>
    </tr>
</table>
</body>
</html>