<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'star')}">

<body>


<h2>Star Information</h2>


<table class="table table-striped" th:object="${star}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Mass</th>
        <td th:text="*{mass}"/>
        </td>
    </tr>
    <tr>
        <th>Diameter</th>
        <td th:text="*{diameter}"/>
        </td>
    </tr>
    <tr>
        <th>System</th>
        <td th:text="*{system.name}"/>
        </td>
    </tr>
    <tr>
        <th>Spectral class</th>
        <td th:text="*{spectralClass}"/>
        </td>
    </tr>
    <tr>
        <th>Color</th>
        <td th:text="*{color}"/>
        </td>
    </tr>
    <tr>
        <th>Temperature</th>
        <td th:text="*{temperature}"/>
        </td>
    </tr>
    <tr>
        <th>Spectrum features</th>
        <td th:text="*{spectrumFeatures}"/>
        </td>
    </tr>
    <tr>
        <th>Constellation</th>
        <td th:text="*{constellation}"/>
        </td>
    </tr>

</table>

<a th:href="@{{id}/edit(id=${star.id})}" class="btn btn-default">Edit star</a>

</body>

</html>
