<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'planets')}">
<head>
    <meta charset="UTF-8">
    <title>Planets</title>
</head>
<body>
<h2 th:text="#{list_of_planets}">Index page</h2>

<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mass</th>
        <th>Diameter</th>
        <th>System</th>
        <th>Temperature(min)</th>
        <th>Temperature(max)</th>
        <th>Duration of day</th>
        <th>Average distance to star</th>
        <th>Orbital period</th>
        <th>Number of satellites</th>
    </tr>
    <tr th:each="planet : ${planets}">
        <td th:text="${planet.id}" style="width: 100px">123</td>
        <td th:text="${planet.name}" style="width: 100px">Default name</td>
        <td th:text="${planet.mass}" style="width: 100px">1000</td>
        <td th:text="${planet.diameter}" style="width: 100px">3400</td>
        <td th:text="${planet.system.name}" style="width: 100px">Default system</td>
        <td th:text="${planet.temperatureMin}" style="width: 100px">1000</td>
        <td th:text="${planet.temperatureMax}" style="width: 100px">-1000</td>
        <td th:text="${planet.durationOfDay}" style="width: 100px">24</td>
        <td th:text="${planet.averageDistanceToStar}" style="width: 100px">1243563</td>
        <td th:text="${planet.orbitalPeriod}" style="width: 100px">123</td>
        <td th:text="${planet.numberOfSatellites}" style="width: 100px">0</td>

    </tr>
</table>
</body>
</html>