<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'planet')}">

<body>


<h2>Planet Information</h2>


<table class="table table-striped" th:object="${planet}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Mass</th>
        <td th:text="*{mass}"/>
        </td>
    </tr>
    <tr>
        <th>Diameter</th>
        <td th:text="*{diameter}"/>
        </td>
    </tr>
    <tr>
        <th>System</th>
        <td th:text="*{system.name}"/>
        </td>
    </tr>
    <tr>
        <th>Temperature(min)</th>
        <td th:text="*{temperatureMin}"/>
        </td>
    </tr>
    <tr>
        <th>Temperature(max)</th>
        <td th:text="*{temperatureMax}"/>
        </td>
    </tr>
    <tr>
        <th>Duration of day</th>
        <td th:text="*{durationOfDay}"/>
        </td>
    </tr>
    <tr>
        <th>Average distance to star</th>
        <td th:text="*{averageDistanceToStar}"/>
        </td>
    </tr>
    <tr>
        <th>Orbital period</th>
        <td th:text="*{orbitalPeriod}"/>
        </td>
    </tr>
    <tr>
        <th>Number of satellites</th>
        <td th:text="*{numberOfSatellites}"/>
        </td>
    </tr>

</table>

<a th:href="@{{id}/edit(id=${planet.id})}" class="btn btn-default">Edit planet</a>

</body>

</html>
