<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'planets')}">
<head>
    <meta charset="UTF-8">
    <title>Research objects</title>
</head>
<body>
<h2 th:text="#{list_of_research_objects}">Index page</h2>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type of research object</th>
        <th>Number of research probes</th>
        <th>Galaxy</th>
        <th>Data update time</th>

    </tr>
    <tr th:each="researchObj : ${researchObjects}">
        <td th:text="${researchObj.id}" style="width: 100px">123</td>
        <td th:text="${researchObj.name}" style="width: 100px">Default name</td>
        <td th:text="${researchObj.typeOfSpaceObject}" style="width: 100px">Default type</td>
        <td th:text="${researchObj.numberOfResearchProbes}" style="width: 100px">0</td>
        <td th:text="${researchObj.galaxy}" style="width: 100px">Default galaxy</td>
        <td th:text="${researchObj.dataUpdateTime}" style="width: 100px">1000</td>
    </tr>
</table>
</body>
</html>