<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'researchObjects')}">

<body>


<h2>Research Object Information</h2>


<table class="table table-striped" th:object="${researchObject}">
    <tr>
        <th>Name</th>
        <td><b th:text="*{name}"></b></td>
    </tr>
    <tr>
        <th>Type of space object</th>
        <td th:text="*{typeOfSpaceObject}"/>
        </td>
    </tr>
    <tr>
        <th>Number of research probes</th>
        <td th:text="*{numberOfResearchProbes}"/>
        </td>
    </tr>
    <tr>
        <th>Galaxy</th>
        <td th:text="*{galaxy}"/>
        </td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${researchObject.id})}" class="btn btn-default">Edit Research object</a>


<br/>
<br/>
<br/>
<h2>Last research probes</h2>

<table class="table table-striped">

    <tr th:each="probe : ${researchObject.lastDataUpdateProbes}">
        <td valign="top">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd th:text="${probe.name}"/>
                </dd>
                <dt>Size</dt>
                <dd th:text="${probe.size}"/>
                </dd>
                <dt>Class of equipment</dt>
                <dd th:text="${probe.classOfEquipment}"/>
                </dd>
                <dt>Current location</dt>
                <dd th:text="${probe.currentLocation}"/>
                </dd>
                <dt>Last contact</dt>
                <dd
                        th:text="${#temporals.format(probe.lastContact, 'yyyy-MM-dd')}"/>
                </dd>
            </dl>
        </td>
        <td valign="top">
            <table class="table-condensed">
                <thead>
                <tr>
                    <th>Equipment</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tr th:each="detail : ${probe.equipment}">
                    <td th:text="${detail.name}"></td>
                    <td th:text="${detail.classType}"></td>
                </tr>

            </table>
        </td>
    </tr>

</table>

</body>

</html>
